<!DOCTYPE html>
<html>
<head>

<title>About</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav class="navbar">

<div class="logo">
🛡 Cyber Security Toolkit
</div>

<ul>

<li><a href="/dashboard">🏠 Dashboard</a></li>

<li><a href="/tools">🛠 Tools</a></li>

<li><a href="/history">📋 History</a></li>

<li><a href="/reports">📊 Reports</a></li>

<li><a href="/about">ℹ About</a></li>

<li><a href="/logout">🚪 Logout</a></li>

</ul>

</nav>

<div class="container">

<h1>About</h1>

<p>

Cyber Security Toolkit developed using
Python Flask, HTML and CSS.

</p>

</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

<script src="{{ url_for('static', filename='matrix.js') }}"></script>

</body>
</html>